@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    background: #00000070;
    padding: 20px;
}

#nav-bar {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (min-width: 650px) {}

main {
    top: 0;
    padding: 0;
    margin: 0;
}

#home {
    position: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: green;
    overflow: hidden;
}

#home video {
    width: 100%;
    margin-top: -150vh;
    display: inline-block;
    vertical-align: middle;
}

#home div {
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin: auto auto;
    color: black;
    align-self: center;
    transform: translateY(-50%) translatex(-50%);
    background: #000000a0;
    color: white;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 40px;
}

.description {
    font-size: 25px;
    margin-bottom: 60px;
}

#home a {
    background: green;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

#catalog {
    text-align: center;
    display: block;
    background: rgb(191, 192, 192);
}

#catalog p {
    font-size: 25px;
    padding: 50px 0;
}

#catalog div {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding-bottom: 50px;
}

#catalog div article {
    display: block;
    width: 600px;
    height: 400px;
    margin: 10px auto;
    overflow: hidden;
    background-size: cover;
}

#catalog div article:nth-of-type(1) {
    background-image: url(flat.jpg);
}

#catalog div article:nth-of-type(2) {
    background-image: url(3d.jpg);
}

#catalog div article:nth-of-type(3) {
    background-image: url(retro.jpg);
}

#catalog div article:nth-of-type(4) {
    background-image: url(custom.jpg);
}

#catalog div article span {
    display: block;
    position: relative;
    top: 70%;
    width: 100%;
    background: rgba(0, 128, 0, 0.7);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px 15px;
    cursor: pointer;
    margin: auto auto;
}

#contact {
    min-height: 200px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: rgb(112, 112, 112)
}
#contact form {
    display: flex;
    flex-direction: column;
    background:rgba(0, 128, 0, 0.7);
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;;
}
#contact form input {
    font-size: 20px;
    margin: 10px;
}
#contact form input[type="submit"] {
    cursor: pointer;
}

footer {
    height: 80px;
    background-color: black;
    color: gray;
    font-size: 20px;
    text-align: center;
}
footer span {
    margin: auto auto;
}